In [2]:
import pandas as pd

In [28]:
dialog_act = []
utterance_content= []
with open('dialog_acts.dat', 'r') as file:
    for line in file:
        row = line.lower().strip('\n')
        dialog_act.append(row.split(maxsplit = 1)[0])
        utterance_content.append(row.split(maxsplit = 1)[1])

In [29]:
d = {'dialog_act': dialog_act, 'utterance_content': utterance_content}

df = pd.DataFrame(data=d)

In [30]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.15)

In [31]:
train

      dialog_act                          utterance_content
340      request                          what type of food
20266     inform                         north part of town
1149      inform  cheap restaurant in he north part of town
2401      inform               moderately priced restaurant
13240       null                                    can you
...          ...                                        ...
8448        null                             unintelligible
11628    request                                    address
24732     affirm                                        yes
20453     inform                                  dont care
19404    confirm                 do they serve chinese food

[21675 rows x 2 columns]